.wrapper {
  /*margin: 0px;
    padding: 0px;*/
  width: 230px;
}

.block50 {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: inline-block;
}

.block50:nth-child(n + 21) {
  background-color: blue;
}

.block50:nth-child(4n + 3) {
  background-color: red;
}

/* button style */

.buttonBlock {
  margin: 0px;
  padding: 0px;
}

button {
  width: 300px;
  height: 50px;
  background-color: #44d3a8;
  border-width: 0px;
  border-style: none;
  text-align: center;
  color: #ffffff;
  border-radius: 25px;
  text-transform: uppercase;
  font-family: arial;
}

.buttonBlock::after,
.buttonBlock::before {
  content: "=========";
  /*height: 15px;
  width: 150px;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 0px;
  border-right: 0px; 
  border-color: #c4c4c4;
  border-style: solid;*/
  color: #c4c4c4;
}

.buttonBlock::after {
  margin-left: 20px;
}

.buttonBlock::before {
  margin-right: 20px;
}

button:hover {
  background-color: #3cb38f;
}

button:active {
  background-color: #1d5a48;
}
